@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 450px;
}

button{
    background: #5393F1;
    padding: 10px 20px ;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    border: 3px solid #5393F1;
    border-radius: 5px;
}

#container{
    /* position:static */
    position: relative;

}

#buttons{
    display: flex;
    justify-content: end;
}

#input-el{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid ;
    margin: 0 0px 10px 0;
}

#input-btn{
    background: #5393F1;
}
#input-btn:hover{
    background: #0c4396;
}

#delete-btn{
    margin-left: 10px;
    background: #ea4848;
}
#delete-btn:hover{
    background: #9d0a0a;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    margin: 5px;
}
a{
    width: max-content;
    color: #007306;
}
a:hover{
    font-weight: bold;
    color: #5393F1;
}