@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* make color variable in css*/


body{
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid ;
    margin: 0 0 10px 0;
}

button{
    background: #5393F1;
    padding: 10px 20px ;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    margin: 5px;
}
ul li a{
    color: #007306;
}








/* 
#hello{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 5px;
    font-size: 40px;
    border: #079e0f solid 2px;
}
#logo {
    position: absolute;
    width: 345px;
    height: 80px;
    move up
    top: -50px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 45px;
    color: #5393F1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    text-decoration: underline;
} 
*/
